.header {
    color: red;
    width: 100vw;
    display: flex;
    place-content: center;
}

.nav {
    align-self: center;
    background: rgb(24, 96, 124);
    /* style: none; */
    /* width: 500px; */
    width: max-content;
}

.navlist {
    list-style: none;
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.navitem {
    color: white;
    text-decoration: none;
    padding: 20px;
}

.navitem:hover {
    background-color: rgb(28, 28, 90);
}