.li {
    /* list-style: none; */
    color: black;
}

.ul {
    /* margin-inline: 20%; */
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
}

.title {
    background-color: white;
    border-radius: 5px;
    /* margin: 20px; */
    width: fit-content;
    padding: 10px;
}

.date {
    text-align: left;
    color: gray;
    border-bottom-color: gray;
    border-bottom-style: solid;
    border-bottom-width: thin;
}